@charset "UTF-8";
html, body, #demo-page {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#demo-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#demo-header,
#demo-footer {
  padding: 2em;
  background-color: #036;
  color: #eee;
}

#demo-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2em 4em;
}

.media-section {
  margin: 2em -0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media-item {
  -ms-flex-preferred-size: 10em;
      flex-basis: 10em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 15em;
  min-width: 10em;
  margin: 0.5em;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
          box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
}

.media-thumb {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-top: 100%;
}

.media-thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.media-thumb:hover img {
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

.media-thumb .media-thumb-overlap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
}

.media-thumb:hover > .media-thumb-overlap {
  opacity: 1;
  pointer-events: all;
}

.media-title {
  font-weight: 300;
  margin: 0 0 0.33em;
}

.media-capture {
  padding: 1em;
}

.media-description {
  font-size: 0.75em;
  opacity: 0.75;
  margin: 0.33em 0 0;
}

i[class^="icon-"] {
  font-style: normal;
  font-size: 2rem;
  width: 1.1em;
  height: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  place-content: center;
  border: 1px solid #eee;
  border-radius: 3px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

i[class^="icon-"]:hover {
  background: #eee;
  color: #333;
}

.icon-zoom:before {
  content: "⌕";
  -webkit-transform: translateY(-0.05em);
          transform: translateY(-0.05em);
}

body.hg-active {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
}

body.hg-show-scrollbar-y {
  overflow-y: visible;
}

.hg-backdrop {
  color: #bebebe;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(12, 12, 12, 0.96);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

body.hg-active .hg-backdrop {
  opacity: 1;
  pointer-events: all;
}

.hg-backdrop.fullscreen {
  background: #0c0c0c;
}

.hg-showpiece-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#hg-screen {
  position: relative;
  width: 100%;
  height: 100%;
}

.hg-showpiece-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.hg-loader {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
  animation: hg-loader-rotate 1.2s reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.hg-showpiece-wrapper.loading .hg-loader {
  opacity: 1;
}

.hg-loader .hg-loader-circle {
  animation: hg-loader-fill 3.6s reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

img.hg-showpiece {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

img.hg-showpiece.hg-showpiece-current {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: all;
}

.hg-showpiece-wrapper.loading img.hg-showpiece {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

.hg-control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.hg-backdrop.fullscreen .hg-control-wrapper {
  position: absolute;
}

.hg-backdrop.fullscreen .hg-control-wrapper.hg-control-wrapper-l {
  left: 0;
}

.hg-backdrop.fullscreen .hg-control-wrapper.hg-control-wrapper-r {
  right: 0;
}

.hg-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hg-backdrop.fullscreen .hg-control {
  opacity: 0;
}

.hg-control.disable {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.hg-backdrop.fullscreen .hg-control-wrapper:hover > .hg-control {
  opacity: 1;
}

.hg-toolbar-wrapper,
.hg-infobar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 1;
}

.hg-backdrop.fullscreen .hg-toolbar-wrapper, .hg-backdrop.fullscreen
.hg-infobar-wrapper {
  position: absolute;
}

.hg-backdrop.fullscreen .hg-toolbar-wrapper {
  top: 0;
}

.hg-backdrop.fullscreen .hg-infobar-wrapper {
  bottom: 0;
}

.hg-toolbar,
.hg-infobar {
  background: rgba(0, 0, 0, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.hg-backdrop.fullscreen .hg-toolbar, .hg-backdrop.fullscreen
.hg-infobar {
  opacity: 0;
}

.hg-backdrop.fullscreen :hover > .hg-toolbar, .hg-backdrop.fullscreen :hover >
.hg-infobar {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.hg-toolbar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-items: flex-end;
}

.hg-backdrop.fullscreen .hg-toolbar {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.hg-infobar {
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.hg-backdrop.fullscreen .hg-infobar {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hg-toolbar-control {
  padding: 1em;
  cursor: pointer;
}

.hg-toolbar-control:hover {
  background: rgba(200, 200, 200, 0.1);
}

[data-hg] {
  cursor: pointer;
}

@-webkit-keyframes hg-loader-fill {
  0% {
    stroke-dasharray: 0 100;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    stroke-dasharray: 100 100;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50.00001% {
    stroke-dasharray: 100 100;
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  100% {
    stroke-dasharray: 0 100;
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
}

@keyframes hg-loader-fill {
  0% {
    stroke-dasharray: 0 100;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    stroke-dasharray: 100 100;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50.00001% {
    stroke-dasharray: 100 100;
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  100% {
    stroke-dasharray: 0 100;
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
}

@-webkit-keyframes hg-loader-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes hg-loader-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
